.movieSingle {
  display: flex;
  height: 80%;
  width: 100%;
  background: url(../../images/error-bg.jpg);
  margin: auto;
}

.movieSingle img {
  height: 80vh;
  border-radius: 8px;
}

.detalles {
  color: rgb(149, 166, 163);
  padding: 2em;
  font-family: "Courier New", Courier, monospace;

  margin: auto;
}

.fecha {
  font-weight: lighter;
  font-style: oblique;
  font-size: 1em;
}
.info {
  margin: 18px 0 18px 0;
  list-style: none;
}

.parraf {
  margin: 20px 0 20px 0;
}

.button:hover {
  box-shadow: 0 0 0 1px white;
}
.buttonback {
  background-color: #2196f3;
  color: white;
  font-size: 1.2em;
  border: none;
  border-radius: 3px;
  padding: 10px;
  width: 100px;
}
.buttonback:hover {
  box-shadow: 0 0 0 1px white;
}

.check {
  background-color: #2196f3;
  color: white;
  font-size: 1.2em;
  border: none;
  border-radius: 3px;
  padding: 10px;
  width: 80px;
  margin: 10px;
}
.check:hover {
  box-shadow: 0 0 0 1px white;
}
