.pagination {
  text-align: center;
  color: #abb7c4;
  border-top: 1px solid #abb7c4;
  border-top: 1px solid #abb7c4;
  border-bottom: 1px solid;
  padding: 1%;
  margin: 1%;
}

.pages {
  padding: 1%;
  text-decoration: none;
}
