.pagination {
  text-align: center;
  background-color: #020d18;
  color: #abb7c4;
  border-top: 1px solid #abb7c4;
  border-top: 1px solid #abb7c4;
  border-bottom: 1px solid;
  padding: 4px;
}

.pages {
  margin-left: 20px;
  text-decoration: none;
}
