.moviegrid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  max-width: 100%;
  padding: 50px;
  justify-content: center;
  background-color: #020d18;
}
