.moviecard {
  font-family: "Nunito", sans-serif;
  padding: 8px;
  border-radius: 8px;
  max-height: 500px;
}

.moviecard img {
  border-radius: 8px;
  height: 400px;
  width: auto;
  margin-bottom: 10px;
}
.moviecard h3 {
  font-size: 18px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px;
}

.check {
  font-size: 15px;
  border: none;
  position: absolute;
  border-radius: 50%;
  height: 2rem;
  float: right;
}
