.container {
  background: url(../../images/hero-bg.jpg) no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}
.ul {
  margin-top: 10px;
}
.container_ul {
  background-color: rgb(32, 34, 46);
  border-radius: 5px;
  top: 4rem;
  padding: 18px;
  width: 360px;
  z-index: 20;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
}

.dropdownfirst {
  display: inline-block;
  color: rgb(238, 241, 236);
  padding: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}
.arrow {
  top: 5px;
  right: -12px;
  font-size: 0.6rem;
  cursor: pointer;
  color: white;
}
.arrow::after {
  position: absolute;
  top: 5px;
  right: -12px;
  font-size: 0.6rem;
  cursor: pointer;
  transform: rotate(180deg);
}
