.images {
  width: 100%;
  max-height: 650px;
}

.carrusel {
  width: auto;
  height: 100%;
  margin: auto;
  margin-bottom: 0;
}
.pictures1 {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 1920px;
  position: absolute;
  width: 100%;
}
