.buscador {
  font-size: 15px;
  color: #f2f7f7;
  font-size: 1.1rem;
  padding: 8px;
  width: 290px;
  border-radius: 10px;
  outline: 0;
  background: transparent;
  border: 1px solid rgb(81, 78, 78);
  text-align: center;
}
::placeholder {
  color: rgb(140, 134, 134);
  font-size: 1.2rem;
  font-weight: bold;
}

.input {
  font-size: 15px;
  color: #f2f7f7;
  font-size: 1.1rem;
  padding: 8px;
  width: 290px;
  border-radius: 2px;
  outline: 0;
  background: transparent;
  border: 1px solid rgb(81, 78, 78);
  text-align: center;
}
::placeholder {
  color: rgb(140, 134, 134);
  font-size: 1.2rem;
  font-weight: bold;
}

.botonsearch {
  position: relative;
  display: inline-block;
  margin: 25px 20px 10px 10px;
  padding: 7px 20px;
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.3s;
  border: 1.8px solid #f7f2f4;
  border-radius: 2px;
}
.botonsearch:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #dd003f;
}
